<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <h1><p class="text-center">Admin Panel</p></h1>
        <h3><p class="text-center">List of all lessons</p></h3>
        <form action="/admin" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Lesson Name</th>
                        <th scope="col">Lang</th>
                        <th scope="col">Avail</th>
                    </tr>
                </thead>
                <% for(var i=0; i < _lesson.length; i++) { %>
                    <tr>
                        <td><%= _lesson[i].course %> - <%= _lesson[i].name %></td>
                        <td>
                            <div class="f32">
                                <% if (_lesson[i].lang == 'jp') { %>
                                    <span class="flag jp"></span>
                                <% } else { %>
                                    <span class="flag gb"></span>
                                <% } %>
                            </div>
                        </td>
                        <td>
                            <% if (_lesson[i].avail) { %>
                                <input type="checkbox" class="form-check-input" name="avail[]" value=<%= i %> checked>
                            <% } else { %>
                                <input type="checkbox" class="form-check-input" name="avail[]" value=<%= i %> >
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            </table>
            <input class="btn btn-primary" type="submit" value="Update">
        </form>
        <br>
        <form action="/admin/newlesson" enctype="multipart/form-data" method="post">
            <input class="btn btn-primary" type="submit" value="Upload csv">
            <input type="file" name="csv_upload">
        </form>
    </div>
</body>