<!DOCTYPE html>
<html>
<head>
    <title>MEMZ</title>
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar_stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/flat-flags.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <meta charset="utf-8" />
</head>
<body class="gray">
    <div class="navbar navbar-expand-md" id="navbar">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item nav-link" href="#"><img src="https://image.ibb.co/dXfUCS/memz_logo.png" height="40"></a>
                </li>
                <% if (user && user.permission == 'admin') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/nisaruj/memz">Github</a>
                    </li>
                <% } %>
                <% if (user) { %>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">All lessons</h2>
        <div class="row">
            <div>
            <% for(var i=0; i < _lesson.length; i++) { %>
                <div class="lesson">
                    <div class="f32">
                        <% if (_lesson[i].lang == 'jp') { %>
                            <i class="flag-sm flag-sm-JP"></i>
                        <% } else { %>
                            <i class="flag-sm flag-sm-GB"></i>
                        <% } %>
                    </div>
                    <p style="font-size: 1em;"><span style="font-size: 0.85em; letter-spacing: 0.9px; font-weight: 700; text-transform: uppercase;"><%= _lesson[i].course %></span><br><%= _lesson[i].name %></p>
                    <td align="right"><a href="/lesson/<%= _lesson[i].lesson_id %>" class="btn btn-orange" role="button">Learn</a></td>
                </div>
            <% } %>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
<footer>
<div class="footer">
  <p>© 2018 MemZ</p>
</div>
</footer>

</html>
