<!DOCTYPE html>
<html ng-app="flashcard" ng-controller="flashcard-control">
<head>
    <title>MEMZ</title>
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar_stylesheet.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
</head>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="/controller/flashcardController.js"></script>
<body class="gray">
   <div class="navbar navbar-expand-md" id="navbar">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item nav-link" href="#"><img src="https://image.ibb.co/dXfUCS/memz_logo.png" height="40"></a>
                </li>
                <% if (user && user.permission == 'admin') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/nisaruj/memz">Github</a>
                    </li>
                <% } %>
                <% if (user) { %>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">{{ lesson_name }}</h2>
        <h3 class="text-center">{{ lesson_course }}</h3>
        <div>
            Word: {{ curWord }} <br>
            Meaning: {{ curMeaning }}
            <br>
            <button type="submit" class="btn btn-orange" ng-click="nextWord()" ng-disabled="disableSubmit">Next</button>
            <button type="submit" class="btn btn-orange" ng-click="prevWord()" ng-disabled="disableSubmit">Prev</button>
        </div>
    </div> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
<script>
    var getLang = <%- JSON.stringify(_lesson.lang) %>;
    var getLID = <%- JSON.stringify(_lesson.lesson_id) %>;
    var getLessonName = <%- JSON.stringify(_lesson.name) %>;
    var getLessonCourse = <%- JSON.stringify(_lesson.course) %>;
</script>
</html>
