<!DOCTYPE html>
<html>
<head>
    <title>MEMZ</title>
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <meta charset="utf-8" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-brand" href="#">MEMZ</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <% if (user && user.permission == 'admin') { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                <% } %>
                <% if (user) { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <% if (user) { %>
                    <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> <%= user.username %></a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1><p class="text-center">New lesson</p></h1>
        <h3><p class="text-center">Lesson info</p></h3>
        <form action="/admin/newlesson" method="post">
            <table class="table">
                <tr>
                    <td style="width: 15%">Course Name</td>
                    <td><input type="text" name="course_name" value="My course"></td>
                </tr>
                <tr>
                    <td style="width: 15%">Lesson Name</td>
                    <td><input type="text" name="lesson_name" value="My new lesson"></td>
                </tr>
                <tr>
                    <td style="width: 15%">Lesson ID</td>
                    <td><input type="text" name="lid" value=""></td>
                </tr>
                <tr>
                    <td style="width: 15%">Language</td>
                    <td><input type="text" name="lang" value="en"></td>
                </tr>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Vocab</th>
                        <th scope="col">Meaning</th>
                    </tr>
                </thead>
                <% for(var i=0;i<data.length;i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><input type="text" name="word[]" value=<%= data[i][0] %>></td>
                        <td><input type="text" name="meaning[]" value=<%= data[i][1] %>></td>
                    </tr>
                <% } %>
            </table>
            <input class="btn btn-primary" type="submit" value="Confirm">
        </form>
    </div>
</body>
</html>