<!DOCTYPE html>
<html>
<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta charset="utf-8" />
</head>
<body>
    <div class="logincontainer" >
        <h2 class="white sign">Sign up</h2>
        <form action="/register" method="post">
            <input type="text" name="email" placeholder="email" class="email">
            <br><br>
            <input type="text" name="username" placeholder="username" class="username">
            <br><br>
            <input type="password" name="password" placeholder="password" class="password">
            <br><br><br>
            <input type="submit" value="Submit" class="submit">
        </form> 
        <p class="white">Already have an account? <a href="/login">Login.</a></p>
    </div>
</body>
</html>