.box {
  left: 50%;
  border: 1px solid rgb(255, 255, 255);
  color: black;
  width: 1000px;
}

.navbar-collapse .collapse .w-100 .order-3 .dual-collapse2 {
  background-color: #FF5733 !important;
}

.card-body-init {
  width: 300px !important;
  background: -moz-linear-gradient(top, #e8e8e8 0%,#e8e8e8 40%,#fff 21%,#fff 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #e8e8e8 0%,#e8e8e8 40%,#fff 21%,#fff 100%); /* Chrome10+,Safari5.1+ */
  background-color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 7px 6px #dddddd;
  -moz-box-shadow: 0 0 7px 6px #dddddd;
  box-shadow: 0 0 7px 6px #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.card-body-correct {
  width: 300px !important;
  background-color: rgb(192, 255, 173);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 7px 6px #74ff7d;
  -moz-box-shadow: 0 0 7px 6px #74ff7d;
  box-shadow: 0 0 7px 6px #74ff7d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.card-body-wrong {
  width: 300px !important;
  background-color: rgb(255, 160, 160);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 7px 6px #ff7171;
  -moz-box-shadow: 0 0 7px 6px #ff7171;
  box-shadow: 0 0 7px 6px #ff7171;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.card {
  background: none;
  border: none;
  font-family: 'raleway';
  padding-top: 50px;
}

.btn {
  font-family: 'raleway';
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 20px;
}

.btn:focus {
  box-shadow: none;
}

.card-title {
  font-family: 'raleway';
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.form-group {
  padding: 30px;
}

.input {
  color: #666;
  position: relative;
  width: 195px;
  border: none;
  border-bottom: solid 1px #B3B6B7;
  margin: 0 auto;
}

.input:after {
	position: absolute;
  left: 50%;
	content: '';
	height: 5px;
  background: #f00;
  transition: all 0.5s linear;
  width: 0;
  bottom: 0;
}

.input:hover:after {
	width: 195px;
  margin-left: -98px;
}

#m:focus {
  box-shadow: none;
  border: none !important;
}

.btn-orange {
  background-color: #ff5733;
  border: solid 3px #ff5733;
  border-radius: 20px;
  width: 85px;
  color: white;
}

.btn-orange:hover {
  background: none;
  border: solid 3px #ff5733;
  color: #ff5733;
}

.buttons {
  position: absolute;
  z-index: 10;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.undertext {
  font-size: 12px;
  color: #333;
  text-align: center;
}

.showskip {
  text-decoration: underline;
}

.lessoncourse {
  color: #333;
}

.lessonname {
  font-weight: 300px;
  font-size: 17px;
  color: #333;
}

.showskip-disable {
  color: rgb(255, 255, 255);
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.title-container {
  position: fixed;
  z-index: 10;
  top: -70px;
  text-align: center;
  color: white;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.result {
  color: #333;
  text-align: center;
  padding: 160px;
}

.result-footer {
  color: #333;
  font-size: 16px;
}

.black {
  color: black
}

.hlink {
  color: #ff5733;
  text-decoration: underline;
}

.hlink:hover {
  color: #ff5733;
  text-decoration: underline;
}
