body {
    background-color: #333;
}

p {
    font-family: raleway;
    font-size: 12px;
}

.white {
    color: white;
}

a {
    color: #FF5733;
}

h1,h2,h3,h4 {
    font-family: 'raleway';
    text-align: center;
}

.sign {
    padding-bottom: 35px;;
}

.logincontainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.username, .password, .email {
    font-family: 'raleway';
    font-size: 1em;
    color:#333;
    padding: 15px;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    width: 250px;
    height: 20px;
    color: #fff;
    border-radius: 3%;
    box-shadow: none;
}

input.submit {
    transition: 0.5s;
    font-family: 'raleway-bold';
    font-size: 0.8em;
    background-color: #FF5733;
    height: 40px;
    width: 280px;
}

input.submit:hover {
    border-style: solid;
    border-width: 3px;
    border-color: #FF5733;
    background: none;
}


