<div ng-controller="qform-control" ng-init="forminit()">
    <form id="form">
        <div ng-class="cardclass" style="margin: 0 auto;">
            <div class="title-container">
                <h3 class="lessonname">{{ lesson_name }}</h3>
                <h4 class="lessoncourse">{{ lesson_course }}</h4>
            </div>
            <h2 class="card-title"><br>{{curQuiz}}</h2>
            <div class="form-group">
                <div class="input">
                    <input class="form-control" name="answer" type="text" id='m' placeholder="answer here" ng-model="answer" autofocus>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-primary" ng-click="check()" ng-disabled="disableSubmit">Submit</button>
                <p class="undertext"><span class="showskip" ng-click="showans()" ng-class="showbtn">Show</span> or <span class="showskip" ng-click="skip()" ng-class="skipbtn">Skip</span>
            </div>
        </div>
    </form>
    <script>
        const textInput = document.querySelector('#m');
        if (getLang == 'jp') {
            wanakana.bind(textInput);
        }
    </script>
</div>
