<div class="card-header">
    Review
</div>
<div ng-controller="qform-control" ng-init="forminit()">
    <form id="form">
        <div class="card-body w-50" style="margin: 0 auto;">
            <h2 class="card-title">{{curQuiz}}</h2>
            <div class="form-group">
                <input ng-class="inputclass" name="answer" type="text" id='m' ng-model="answer" ng-disabled="disableAnswer" autofocus>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="check()" ng-disabled="disableSubmit">Submit</button>
            <button type="submit" class="btn btn-secondary" ng-click="showans()" ng-disabled="disableShow">Show</button>
            <button type="submit" class="btn btn-danger" ng-click="skip()" ng-disabled="disableSkip">Skip</button>
        </div>
    </form>
    <script>
        const textInput = document.querySelector('#m');
        if (getLang == 'jp') {
            wanakana.bind(textInput);
        }
    </script>
</div>